*{
    box-sizing: border-box;
    font-family: Rajdhani, arial;
    margin: 0;
    padding: 0;  
}
body {
    background-attachment: fixed;
    background-image: url(tlo.jpg);
    background-repeat: no-repeat;  
    background-size: cover;
    margin: 0;
    overflow-x: hidden;
    overflow-y: overlay;
    padding: 0;
    height: 100vh;
    width: 100vw;
}
a.menu {
    cursor: pointer;
    border-bottom: 1px solid #000;
    color: #000;
}
ol {
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(3px);
    font-size: 22px;
    height: 2em;
    left: 0;
    line-height: 2em;
    list-style-type: none;
    margin: auto auto;
    padding: 0;
    position: sticky;
    right: 0;
    text-align: center;
    top: 0.1em;
    width: 12em;
    z-index: 90;
}
ol a {
    color: #000;
    display: block;
    padding: 0 0.1em;
    text-decoration: none;
}
ol > li > ul { 
    display:none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ol > li > ul > li > a {
    border-top: 1px solid #FFF;
    color: #FFFFFF;
    font-size: 18px;
    text-align: center;
}
ol:hover > li {
    background-color: rgba(0,0,0,0.9);
    display: block;
}
ol >li:hover > a.menu {
    color: #FFFFFF;
    opacity: 0.9;
}
ol > li:hover > ul {
    display: block;    
}
ol > li > ul > li:hover a {
    background-color: #305c80dc;
    opacity: 0.9;
 }
.active {
    color: #4682B4;
}
.active:hover {
    background-color: rgba(0,0,0,0.0);
    cursor: auto;
}
img.home {
    bottom: 0;
    left: 0;
    margin:auto auto;
    max-width: 300px;
    opacity: 95%;
    position: absolute;  
    right: 0;
    top: 0;
    transform: scale(1);
    transition: transform 0.5s; 
    width: 100%;
}
img.home:hover {
      transform: scale(1.1);
      cursor: pointer;
}
footer a {
    bottom: 0.1em;
    font-size: 22px;
    height: 2em;
    left: 0;
    line-height: 2em;
    margin: auto auto;
    position: absolute;
    right: 0;
    text-align: center;
    z-index: 100; 
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
    min-width: 400px;
    overflow-y: auto;
    padding: 2em 12.5%;
}
.item {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    height: 300px;
    margin: 15px 11px;
    opacity: 0.9;
    overflow: hidden; 
    transform: scale(1);
    transition: transform 0.3s; 
    width: 300px;
    
}
.item:hover {
    opacity: 1;
    transition: 0.3s all linear;
    transform: scale(1.05);
}
.item img {
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-evenly;
    left: 0;
    list-style-type: none;
    margin: auto;
    object-fit: cover;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.item img:focus,
.item img:focus {
    border: solid 5px;
    border-radius: 10px;
    color: #ffffff8c;
}
.popup {
    align-content: center;
    animation: fadeIn 0.3s;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
}
.popup.hidden {
    display: none;
}
.popup.fade-out {
    animation: fadeOut 0.3s both;
}
.popup__img {
    max-height: 650px;
    max-width: 100%;  
}
.popup__close {
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 48px;
    opacity: 50%;
    position: fixed;
    right: 5%;
    top: 0;
    transition: opacity 0.3s;
}
.popup__close:hover {
    opacity: 100%;
}
.popup__arrow {
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 52px;
    opacity: 50%;
    position: absolute;
    top: 50%;
    transition: opacity 0.3s;
 }
.popup__arrow:hover {
    opacity: 100%;
}
.popup__arrow--left {
    left: 5%;
}
.popup__arrow--right {
    right: 5%;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }    
    
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }    
    
}
#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
    margin:auto;
    max-width: 600px;
    min-width: 250px;
    padding: 2em 0;
    width: 100%;
}
.co11 {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
    margin: 22px 44px;
    min-width: 200px;
    padding: 0 1em 1em 1em;
    width: 600px;
}
.co12 {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
    margin: 22px 44px;
    min-width: 250px;
    padding: 0 1em 1em 1em;
    width: 600px;
}
.header {
    border-bottom: 0.5px solid #000;
    bottom: 0.1em;
    font-size: 22px;
    font-weight: 300;
    height: 2em;
    line-height: 2em;
    margin: auto;
    position: flex;
    text-align: center;
}
p.paragraph {
    font-size: 20px;
    padding: 1em 0 0 0;
    text-align: center;
}
.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    min-width: 350px;
    position: absolute;
    top: 37%;
    width: 100%;
}
.contents {
    height: 200px;
    margin: auto;
    max-width: 400px;
    padding: auto;
    width: 600px;
}
.contact {
    font-size: 22px;
    font-weight: 200;
    margin: 0 0 2em 0;
    object-fit: cover;
    text-align: center;
}
